<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mainteance</title>
    <link rel="icon" href="favicon.jpg">
    <meta name="google-site-verification" content="RMY7Y4Dx_xSTIN4ieo1tgQuxBhkOzMBBrWtJ8nZ6Ly0" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RGDM35QC91">
	window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RGDM35QC91');
    </script>
</head>
<body>
    <div class="box">
        <h1>Maintenance Page</h1>
    </div>
</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

    body {
       display: flex;
       justify-content: center;
       align-items: center; 
       font-family: 'Be Vietnam Pro';
       background-color: #474241;
    }
    .box {
        background-color: #CA988D;
        color: white;
        padding: 1rem;
        border-radius: 5%;
    }
</style>      
</html>